<a href="https://colab.research.google.com/github/gcamachoj/python-alura-curso01-basic/blob/main/desafio_05_python_basico_estructuras_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 05 - Python Básico - Alura - Estructuras de datos
---

**Este desafío consta de realizar los ejercicios básicamente empleando los conociminentos vistos hasta este tema, los cuales incluyen: variables, condicionales, bucles y estructuras de datos. No incluye funciones definidas por el usuario ni POO.**

Vamos practicar el uso de estructuras de datos, como listas y diccionarios, a través de algunas actividades. Ahora que estamos avanzando en el contenido, podemos hacer los desafíos más interesantes. ¡Para ello, trabajaremos con proyectos de código!

Primero, resolveremos algunos problemas para calentar y prepararnos para los proyectos.

Entrenando la programación
---

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
lista_gastos =  [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
promedio_gastos = sum(lista_gastos)/len(lista_gastos)
print(f'El promedio de gastos es de: {promedio_gastos:.2f}' )

El promedio de gastos es de: 3144.22

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
compras_mayores_3000_ = [x for x in lista_gastos if x >3000]
print(compras_mayores_3000_)
sum(compras_mayores_3000_)
sum(compras_mayores_3000_)/sum(lista_gastos)

[3701.35, 3518.09, 3456.61, 3249.38, 3891.45, 3075.26, 3219.08]

0.7668421631805896

In [ ]:
compras_mayores_3000 = [x for x in lista_gastos if x > 3000]
print(compras_mayores_3000)
print(f'Cantidad de compras mayores a 3000: {len(compras_mayores_3000)}')
print(f'La suma de compras mayores a 3000 es de {compras_mayores_3000}')
print(f'El porcentaje de compras mayores a 3000 es de {(sum(compras_mayores_3000)/sum(lista_gastos))*100:.2f}%')

[3701.35, 3518.09, 3456.61, 3249.38, 3891.45, 3075.26, 3219.08]
Cantidad de compras mayores a 3000: 7
La suma de compras mayores a 3000 es de [3701.35, 3518.09, 3456.61, 3249.38, 3891.45, 3075.26, 3219.08]
El porcentaje de compras mayores a 3000 es de 76.68%

In [ ]:
# Equivalente a hacer esto:
nueva_lista = []
for x in lista_gastos:
    if x > 3000:
        nueva_lista.append(x)
nueva_lista

[3701.35, 3518.09, 3456.61, 3249.38, 3891.45, 3075.26, 3219.08]


3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
import random
numeros = []
for i in range(5):
  numeros.append(random.randint(1,100))
print(numeros)

[22, 66, 82, 58, 80]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
numeros = []
for i in range(5):
  numeros.append(random.randint(1,10))
print(numeros)
numeros.reverse()
print(numeros)

[2, 1, 2, 1, 7]
[7, 1, 2, 1, 2]

In [ ]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
# Usamos la técnica de partición para imprimir el resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Ingresa un número entero: 10
Ingresa un número entero: 2
Ingresa un número entero: 3
Ingresa un número entero: 6
Ingresa un número entero: 8
Lista de números invertida: [8, 6, 3, 2, 10]


5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for num in range(2, numero):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, num):
    if num % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 20
Lista de números primos: [2, 3, 5, 7, 11, 13, 17, 19]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
# Recopilamos la fecha
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

# Análisis de febrero
if mes == 2:
  # Verificamos si es o no un año bisiesto
  if año % 4 == 0 and (año % 400 == 0 or año % 100 != 0):
    dias_febrero = 29
  else:
    dias_febrero = 28
  # Verificamos si el día ingresado coincide con el máximo de días de febrero
  if dia >= 1 and dia <= dias_febrero:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 31 días
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 30 días
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Si el mes no está entre 1 y 12
else:
  print('Fecha inválida')

Ingrese el día: 1
Ingrese el mes: 2
Ingrese el año: 2034
Fecha válida

##Momento para los proyectos
---

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [ ]:
# Lista de crecimiento de bacterias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que almacenará las tasas de crecimiento
porcentaje_crecimiento = []
# Recorremos los índices de 1 a 9 para comparar los valores actuales con los anteriores
for i in range(1, len(bacterias_colonia)):
  # Realizamos el cálculo: 100 * (muestra_actual - muestra_anterior) / (muestra_anterior)
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # Agregamos el resultado a la lista porcentaje_crecimiento
  porcentaje_crecimiento.append(porcentaje)
# Resultado
print(f'Porcentajes de crecimiento:\n{[round(p,2) for p in porcentaje_crecimiento]}')

Porcentajes de crecimiento:
[75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [ ]:
lista_productos = [] # todos
lista_dulces = [] # pares
lista_amargos = [] # impares

for i in range(10):
  id = int(input('Ingrese un ID de prudcto:\n'))
  lista_productos.append(id)
print(lista_productos)

for producto in lista_productos:
  if producto % 2 == 0:
    lista_dulces.append(producto)
  else:
    lista_amargos.append(producto)
print(f'Cantidad de productos dulces: {len(lista_dulces)}')
print(f'Cantidad de productos amargos: {len(lista_amargos)}')
print(f'Productos dulces: {lista_dulces}')
print(f'lista_amargos:64 {lista_amargos}')

Ingrese un ID de prudcto:
33
Ingrese un ID de prudcto:
44
Ingrese un ID de prudcto:
5
Ingrese un ID de prudcto:
66
Ingrese un ID de prudcto:
77
Ingrese un ID de prudcto:
89
Ingrese un ID de prudcto:
90
Ingrese un ID de prudcto:
98
Ingrese un ID de prudcto:
765
Ingrese un ID de prudcto:
554
[33, 44, 5, 66, 77, 89, 90, 98, 765, 554]
Cantidad de productos dulces: 5
Cantidad de productos amargos: 5
Productos dulces: [44, 66, 90, 98, 554]
lista_amargos:64 [33, 5, 77, 89, 765]



9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.
Resultado del examen:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

In [ ]:
test = {
          'preguntas': [1,2,3,4,5,6,7,8,9,10],
          'respuestas': ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
        }
puntos = 0
preguntas =  test['preguntas']
respuestas = test['respuestas']
for pregunta in preguntas:
  seleccion = (input(f'Ingrese la respuesta a la pregunta {pregunta}:\nA. \tB. \tC.  \tD.\n'))
  #print(f'respuesta verdadera {respuestas[pregunta-1]}') # Para probar la respuesta verdadera
  if seleccion == respuestas[pregunta-1]:
    print('ok')
    puntos += 1
  else:
    print('error')
print(f'Puntos: {puntos}')

Ingrese la respuesta a la pregunta 1:
A. 	B. 	C.  	D.
D
respuesta verdadera D
ok
Ingrese la respuesta a la pregunta 2:
A. 	B. 	C.  	D.
A
respuesta verdadera A
ok
Ingrese la respuesta a la pregunta 3:
A. 	B. 	C.  	D.
C
respuesta verdadera C
ok
Ingrese la respuesta a la pregunta 4:
A. 	B. 	C.  	D.
B
respuesta verdadera B
ok
Ingrese la respuesta a la pregunta 5:
A. 	B. 	C.  	D.
A
respuesta verdadera A
ok
Ingrese la respuesta a la pregunta 6:
A. 	B. 	C.  	D.
D
respuesta verdadera D
ok
Ingrese la respuesta a la pregunta 7:
A. 	B. 	C.  	D.
C
respuesta verdadera C
ok
Ingrese la respuesta a la pregunta 8:
A. 	B. 	C.  	D.
C
respuesta verdadera C
ok
Ingrese la respuesta a la pregunta 9:
A. 	B. 	C.  	D.
A
respuesta verdadera A
ok
Ingrese la respuesta a la pregunta 10:
A. 	B. 	C.  	D.
B
respuesta verdadera B
ok
Puntos: 10

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [ ]:
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiempre' , 'Octubre', 'Noviembre', 'Diciembre']
temperaturas = []
temperaturas_altas = {
                        'meses' : [],
                        'temperaturas' : []
                      }
for mes in range(len(meses)):
  temperatura = float(input(f'Ingrese la temperatura para el mes: {meses[mes]}: '))
  temperaturas.append(temperatura)

temperatura_media = sum(temperaturas)/len(temperaturas)

for i in range(len(temperaturas)):
 if temperaturas[i] > temperatura_media:
    temperaturas_altas['meses'].append(meses[i])
    temperaturas_altas['temperaturas'].append(temperaturas[i])

# Resultados
print(f'\nLas temperaturas de enero a diciembre fueron: {temperaturas}')
print(f'La temperatura media fue de: {temperatura_media:.2f}')
print(f'Temperaturas por encima de la media: {temperaturas_altas}')
for i in range(len(temperaturas_altas['meses'])):
  print(f"{temperaturas_altas['meses'][i]} --> {temperaturas_altas['temperaturas'][i]}")

Ingrese la temperatura para el mes: Enero: 22
Ingrese la temperatura para el mes: Febrero: 23
Ingrese la temperatura para el mes: Marzo: 23
Ingrese la temperatura para el mes: Abril: 5
Ingrese la temperatura para el mes: Mayo: 26
Ingrese la temperatura para el mes: Junio: 28
Ingrese la temperatura para el mes: Julio: 32
Ingrese la temperatura para el mes: Agosto: 34
Ingrese la temperatura para el mes: Septiempre: 37
Ingrese la temperatura para el mes: Octubre: 39
Ingrese la temperatura para el mes: Noviembre: 32
Ingrese la temperatura para el mes: Diciembre: 32

Las temperaturas de enero a diciembre fueron: [22.0, 23.0, 23.0, 5.0, 26.0, 28.0, 32.0, 34.0, 37.0, 39.0, 32.0, 32.0]
La temperatura media fue de: 27.75
Temperaturas por encima de la media: {'meses': ['Junio', 'Julio', 'Agosto', 'Septiempre', 'Octubre', 'Noviembre', 'Diciembre'], 'temperaturas': [28.0, 32.0, 34.0, 37.0, 39.0, 32.0, 32.0]}
Junio		-->28.0
Julio		-->32.0
Agosto		-->34.0
Septiempre		-->37.0
Octubre		-->39.0
Noviembre		-->32.0
Diciembre		-->32.0

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

In [ ]:
total_ventas = 0
ventas = {
    'Producto A': 300,
    'Producto B': 80,
    'Producto C': 60,
    'Producto D': 200,
    'Producto E': 250,
    'Producto F': 30
}

for venta in ventas.values():
    total_ventas += venta

venta_maxima = max(ventas.values())

print(f'Total de ventas: {total_ventas}')
print(f'Producto(s) más vendido(s) con {venta_maxima} unidades:')

for producto, valor in ventas.items():
    if valor == venta_maxima:
        print(f'- {producto}')

Total de ventas: 920
Producto(s) más vendido(s) con 300 unidades:
- Producto A



12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
votacion = {
    'Diseño 1' : 1334,
    'Diseño 2' : 982,
    'Diseño 3' : 1751,
    'Diseño 4' : 210,
    'votos Diseño 5' : 1811
}
maxima_votacion = max(votacion.values())
total_votos = 0
for votos in votacion.values():
  total_votos += votos

print(f'La máxima votación es: {maxima_votacion}')
print(f'El diseño ganador es :')
for llave, valor in votacion.items():
  if valor == maxima_votacion:
    print(f'-{llave} con {maxima_votacion}, correspondiente a un porcentaje del {((maxima_votacion/total_votos)*100):.2f}%')
print(f'La votación total fue de {total_votos}')

La máxima votación es: 1811
El diseño ganador es :
-votos Diseño 5 con 1811, correspondiente a un porcentaje del 29.75%
La votación total fue de 6088

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903].

- La bonificación de cada empleado no puede ser inferior a 200.

- En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente.

- Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
aumentos_salarios = {

}
for salario in salarios:
  bonificacion = salario*0.10
  if bonificacion <200:
    bonificacion = 200
  aumentos_salarios[salario] = bonificacion
print(aumentos_salarios)

total_bonificaciones = 0
for bonificacion in aumentos_salarios.values():
  total_bonificaciones += bonificacion
print(f'El total de bonificaciones es de : {total_bonificaciones}')

qty_bonificaciones_minimas = 0

for bonificacion in aumentos_salarios.values():
  if bonificacion == 200:
    qty_bonificaciones_minimas += 1

print(f'La cantidad de bonificaciones mínimas es de: {qty_bonificaciones_minimas}')

maxima_bonificacion = max(aumentos_salarios.values())
print(f'La máxima bonificación es de {maxima_bonificacion}')

{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
El total de bonificaciones es de : 6087.8
La cantidad de bonificaciones mínimas es de: 2
La máxima bonificación es de 790.3000000000001

In [ ]:
bonificaciones_minimas = [x for x in aumentos_salarios.values() if x==200]
print(bonificaciones_minimas)

[200, 200]

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

- Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [ ]:
diversidad = {'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

In [ ]:
total_especies = 0
especies_por_area = {}
porc_especies_por_area = {}
for area, valores in diversidad.items():
  especies_por_area[area]=sum(valores)
print('Total de especies por área:\n')
print(especies_por_area)

for x in especies_por_area.values():
  total_especies += x
print(f'total de especies = {total_especies}')

for area,cantidad in especies_por_area.items():
  porc_especies_por_area[area]=float((100*(cantidad/total_especies)))

print(f'Porcentaje de especies por area: {(porc_especies_por_area)}')
for area, porcentaje in porc_especies_por_area.items():
  print(f'{area} -->{porcentaje:.2f}%')

Total de especies por área:

{'Área Norte': 10055, 'Área Leste': 10932, 'Área Sul': 13465, 'Área Oeste': 64134, 'Área Centro': 67706}
total de especies = 166292
Porcentaje de especies por area: {'Área Norte': 6.046592740480601, 'Área Leste': 6.573978303225651, 'Área Sul': 8.09720251124528, 'Área Oeste': 38.567098838188244, 'Área Centro': 40.71512760686022}
Área Norte -->6.05%
Área Leste -->6.57%
Área Sul -->8.10%
Área Oeste -->38.57%
Área Centro -->40.72%

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [ ]:
edades_sectores = {
                    'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                    'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                    'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                    'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
                    }
edades_medias = {}
edad_media_SA = sum(edades_sectores['Sector A'])/len(edades_sectores['Sector A'])

for sector, edad in edades_sectores.items():
  edades_medias[sector] = sum(edad)/len(edad)

print(f'Las edades medias para cada sector son:\n: {edades_medias}')
for sector, edad in edades_medias.items():
  print(f'{sector}-->\t{edad}')

edad_media_general = (sum(edades_sectores['Sector A']) +
                      sum(edades_sectores['Sector B']) +
                      sum(edades_sectores['Sector C']) +
                      sum(edades_sectores['Sector D']))/40
print(f'Edad media general: {edad_media_general:.2f}')

lista_edades_general =[]

for sector, edades in edades_sectores.items():
  for edad in edades:
    lista_edades_general.append(edad)
print(lista_edades_general)

cant_mayores_a_media_general = 0
for edad in lista_edades_general:
  if edad>edad_media_general:
    cant_mayores_a_media_general += 1
print(f'Edades por encima de la media general = {cant_mayores_a_media_general}')

Las edades medias para cada sector son:
: {'Sector A': 39.9, 'Sector B': 42.3, 'Sector C': 35.8, 'Sector D': 36.5}
Sector A-->	39.9
Sector B-->	42.3
Sector C-->	35.8
Sector D-->	36.5
Edad media general: 38.62
[22, 26, 30, 30, 35, 38, 40, 56, 57, 65, 22, 24, 26, 33, 41, 49, 50, 54, 60, 64, 23, 26, 26, 29, 34, 35, 36, 41, 52, 56, 19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
Edades por encima de la media general = 18

In [ ]:
# Optimizado chatgpt
edades_sectores = {
    'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

edades_medias = {}

# Cálculo de media por sector
for sector, edades in edades_sectores.items():
    edades_medias[sector] = sum(edades) / len(edades)

print('Media de edad por sector:')
for sector, media in edades_medias.items():
    print(f'{sector} → {media:.2f}')

# Cálculo de media general
total_edades = sum([sum(edades) for edades in edades_sectores.values()])
total_colaboradores = sum([len(edades) for edades in edades_sectores.values()])
edad_media_general = total_edades / total_colaboradores
print(f'\nEdad media general: {edad_media_general:.2f}')

# Conteo de personas por encima de la media
lista_edades_general = [edad for edades in edades_sectores.values() for edad in edades]
cant_mayores_a_media_general = sum(1 for edad in lista_edades_general if edad > edad_media_general)
print(f'Cantidad de personas por encima de la edad media general: {cant_mayores_a_media_general}')

Media de edad por sector:
Sector A → 39.90
Sector B → 42.30
Sector C → 35.80
Sector D → 36.50

Edad media general: 38.62
Cantidad de personas por encima de la edad media general: 18